html {
    height:100%;
}
body {
    height:100%;
    /*-ms-overflow-style:none;
    -ms-content-zooming:none;
<<<<<<< HEAD
=======
    -ms-touch-action:none;*/
>>>>>>> 2d950fd5d4997e7be308016bc0ad79e78eead879
}

x-ms-webview {
    width:100%;
    height:calc(100% - (75px));
    display:block;
    background: white;
    position:relative;
}

.titleText {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.navbar {
    background-color: #2c3e50;
    position: fixed;
    width: 100%; 
    top: 0;
}

.plugin-top {
    margin-bottom: 5px;
}

.containerMargin {
    margin-top: 70px;
    width: 100%;
}
 .btn-flat {
    background-color: #3498db;
    color: white;
    margin: 5px;
    font-size: 10pt;
    padding: 5px;
    margin-bottom: 10px;
    text-align: right;
 }

 .namespace {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
 }