<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xamagrambackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>xamagrambackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>XamagramBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$XamagramBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xamagrambackenddbserver.database.windows.net,1433;Initial Catalog=XamagramBackendDatabase;User ID=jsuarezruiz@xamagrambackenddbserver;Password=N0k14520" Name="Data Source=tcp:xamagrambackenddbserver.database.windows.net,1433;Initial Catalog=XamagramBackendDatabase;User Id=jsuarezruiz@xamagrambackenddbserver;Password=N0k14520" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Xamagram.Azure.Backend.MobileServiceContext, Xamagram.Azure.Backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xamagrambackenddbserver.database.windows.net,1433;Initial Catalog=XamagramBackendDatabase;User Id=jsuarezruiz@xamagrambackenddbserver;Password=N0k14520</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>